* {
    font-family: sans-serif;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    background-color: red;
    height: 130px;
    padding-top: 40px;
}
.mainContent {
    background-color: blue;
    color: white;
    font-weight: bold;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}